body{
    margin: 0;
    padding: 0;
    background: black;
    color: wheat;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.heading{
    text-align: center;
    width: 100%;
    font-weight: 800;
    font-size: 3em;
}
#card{
    width: 30%;
    height: 15em;
    border: 1px solid white;
    border-radius: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* gap: 1em; */
    padding: 2em;
    flex-direction: column;
}

#final{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 15em;
    border-radius: 5%;
    border: 1px solid white;
    margin: 0 auto;
    gap: 1em;
    padding: 2em;
}

button{
    margin: 1em auto;
    width: 30%;
    bottom: 0px;
    padding: 0.5em;
    border-radius: 5%;
}

